@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

* {
    transition: all 0.2s ease-in-out;
    top: 0;
    left: 0;
    margin: 0;
    font-family: 'Roboto Mono', monospace;
    padding: 0;
}


.content {
    position: fixed;
    background: #DCE35B;
    background: -webkit-linear-gradient(to right, #85228e, #DCE35B);
    background: linear-gradient(to right, #670f4d, #a45d26);
    /* background-image: url(college.jpg); */
    font-family: 'Roboto Mono', monospace;
    display: grid;
    place-items: center;
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    margin: 0;
    top: 0;
    left: 0;
    right: 0;
}

#navbar {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;

}

#navbar::before {
    content: "";
    background-color: black;
    background: transparent;
    backdrop-filter: blur(10px);
    position: absolute;
    height: 100%;
    width: 100vh;
    top: 0px;
    left: 0px;
    /* z thi word dekhay */
    z-index: -1;
    opacity: 0.4;

}

#navbar ul {
    display: flex;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#navbar ul li {
    list-style: none;
    font-size: 20px;
}

#navbar ul li a {
    color: white;
    display: block;
    padding: 2px 22px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover {
    color: black;
    background-color: white;
}

.card {
    background: #12192c;
    /* opacity: 0.6; */
    border-radius: 30px;
    height: 90vh;
    width: 80vw;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
    overflow: hidden;
    color: #DCE35B;
}

.card p {
    color: #85228e;
    font-size: 20px;
}

.card img {
    width: 400px;
    height: 600px;
    padding-top: 40px;
    padding-bottom: 20px;


}

@media only screen and (min-width: 1000px) {
    .card {
        flex-direction: row-reverse;

    }

    .card img.birthday {
        width: 60%;
        max-width: 50vw;
        max-height: unset;
        border-radius: 30px;
    }
}

@media only screen and (max-height: 640px) {
    .card {
        flex-direction: row-reverse;
        height: 205vh;
        width: 50vw;

    }

    .card img.birthday {
        width: 100%;
        max-width: 50vw;
        max-height: unset;
    }
}

img.birthday {
    max-height: 40vh;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.text {
    padding: 20px;
}

.text h1 {
    font-family: cursive;
    font-size: 40px;
    color: #1f9467;
}

.space {
    height: 100px;
}

.credit a {
    text-decoration: none;
    color: #fff;
}

.credit {
    margin-top: 10px;
    text-align: center;
}

/* birthdaywish */
.container {
    background: #DCE35B;
    background: -webkit-linear-gradient(to right, #85228e, #DCE35B);
    background: linear-gradient(to right, #260750, #7b0e58);
    font-family: 'Roboto Mono', monospace;
    display: grid;
    place-items: center;
    height: 100vh;
    margin: 0;
    top: 0;
    left: 0;
    right: 0;
}

.card1 {
    background: #12192c;
    opacity: 0.8;
    border-radius: 30px;
    height: 85vh;
    width: 80vw;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 9px rgba(0, 0, 0, 0.23);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    overflow: hidden;
    color: #DCE35B;
}

h2 {
    animation: 1s blink linear infinite;
    display: flex;
    justify-content: center;
}

.birthdayCard {
    position: relative;
    width: 250px;
    height: 350px;
    cursor: pointer;
    transform-style: preserve-3d;
    transform: perspective(2500px);
    transition: 1s;
}

.cardFront {
    position: relative;
    background-color: #fff;
    margin: 12px;
    width: 300px;
    height: 400px;
    overflow: hidden;
    transform-origin: left;
    box-shadow: inset 100px 20px 100px rgba(0, 0, 0, .2), 30px 0 50px rgba(0, 0, 0, 0.4);
    transition: .6s;
}

.happy {
    /* font-family: Tahoma, sans-serif; */
    text-align: center;
    margin: 30px;
    background-image: linear-gradient(120deg, #871059 0%, #7038b5 100%);
    transition: .1s;
}

.balloons {
    position: absolute;
}

.balloonOne,
.balloonTwo,
.balloonThree,
.balloonFour {
    position: absolute;
    width: 85px;
    height: 95px;
    border-radius: 50%;
}

.balloonOne {
    background-color: rgba(173, 18, 54, 0.7);
    left: 20px;
    top: 80px;
}

.balloonTwo {
    background-color: rgba(45, 236, 185, 0.7);
    left: 90px;
    top: 60px;
}

.balloonThree {
    background-color: rgba(219, 97, 31, 0.7);
    left: 150px;
    top: 60px;
}

.balloonFour {
    background-color: rgba(81, 17, 178, 0.7);
    left: 220px;
    top: 80px;
}

.balloonOne:before,
.balloonTwo:before,
.balloonThree:before,
.balloonFour:before {
    content: "";
    position: absolute;
    width: 1px;
    height: 155px;
    background-color: #ffd166;
    top: 95px;
    left: 43px;
}

.balloonOne:after,
.balloonTwo:after,
.balloonThree:after,
.balloonFour:after {
    content: "";
    position: absolute;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    top: 94px;
    left: 37px;
}

.balloonOne:after {
    border-bottom: 10px solid #ef476f;
}

.balloonTwo:after {
    border-bottom: 10px solid #06d6a0;
}

.balloonThree:after {
    border-bottom: 10px solid #ffd166;
}

.balloonFour:after {
    border-bottom: 10px solid #118ab2;
}

.cardInside {
    position: absolute;
    background-color: #fff;
    border: 2px solid yellowgreen;
    width: 300px;
    height: 400px;
    z-index: -1;
    left: 0;
    top: 0;
    box-shadow: inset 100px 20px 100px rgba(0, 0, 0, 0.2);
}

p {
    font-family: cursive;
    margin: 5px;
    color: #333;
    font-size: 10px;
}

.name {
    position: absolute;
    left: 90px;
    top: 370px;
    color: #333;
    border-bottom: 2px solid #00203f;
    font-size: 10px;
}

.back {
    background-image: linear-gradient(120deg, #d762aa 0%, #755f8f 100%);
    transition: .1s;
    color: #00203f;
    text-align: center;
    margin: 30px;
    outline-color: #333;
    border: 2px solid black;
    border-radius: 4px;
}

.birthdayCard:hover {
    transform: perspective(2500px) rotate(5deg);
    box-shadow: inset 100px 20px 100px rgba(0, 0, 0, .2), 0 10px 100px rgba(0, 0, 0, 0.5);
}

.birthdayCard:hover .cardFront {
    transform: rotateY(-160deg);
}

.birthdayCard:hover .happy {
    visibility: hidden;
}

@keyframes blink {
    0% {
        color: white;
    }

    20% {
        color: yellow;
    }

    40% {
        color: greenyellow;
    }

    60% {
        color: red;
    }

    80% {
        color: hotpink;
    }

    100% {
        color: blue;
    }
}


@media only screen and (max-height: 640px) {
    .card1 {
        flex-direction: row-reverse;
        height: 85vh;
        width: 80vw;
    }


    .card img.birthday {
        width: 100%;
        max-width: 50vw;
        max-height: unset;
    }
}

/* ourfriendship */

.content1 {
    background: #DCE35B;
    background: url(college.jpg) no-repeat center center/cover;
    font-family: 'Roboto Mono', monospace;
    display: grid;
    place-items: center;
    height: 100vh;
    margin: 0;
    top: 0;
    left: 0;
    right: 0;
}

.frnd {

    background: white;
    opacity: 0.8;
    border-radius: 10px;
    height: 70vh;
    width: 40vh;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 9px rgba(0, 0, 0, 0.23);

    display: flex;
    flex-direction: column;
    padding: 1em;
    overflow: hidden;
    color: #DCE35B;
    z-index: 1;

}

.wrapper {
    margin: auto 50px;

}

.imageSlider {
    margin-top: 10px;
    height: 250px;
    width: 180px;
    opacity: 0.9;
    filter: brightness(100%);
    border: 2px solid black;
    background-image: url(1.jpg);
    background-size: 100% 100%;
    box-shadow: 0 10px 10px black;
    animation: changeimage 20s linear infinite;

}

@keyframes changeimage {
    0% {
        background-image: url(1.jpg);
    }

    20% {
        background-image: url(2.jpg);
    }

    40% {
        background-image: url(3.jpg);
    }

    60% {
        background-image: url(4.jpg);
    }

    80% {
        background-image: url(5.jpg);
    }

    100% {
        background-image: url(6.jpg);
    }
}

.songName {
    margin-top: 10px;
}

.songName .sname i {
    font-size: 18px;
    float: inline-start;
}

.songName .sname {
    font-size: 18px;
    color: black;

}

.songName .artist {
    font-size: 12px;
    margin-top: 2px;
    font-family: sans-serif;
}

.progress {
    background: rgb(150, 146, 146);
    height: 4px;
    border-radius: 4px;
    width: 100%;
    position: relative;
}

.progress .progress-in {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    border-radius: 4px;
    background-color: black;
}

.time {
    color: black;
    display: flex;
}

.time p {
    display: flex;
    justify-content: space-between;

}

.time p small {
    font-size: 8px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 2px;
    display: flex;
    justify-content: space-between;

}

.play {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.play i {
    font-size: 20px;
    color: black;
    margin: 10px;
}

.scode {
    display: grid;
    place-items: center;
}

.scode img {
    height: 40px;
    width: 200px;
    margin-bottom: 30px;
}


@media only screen and (max-height: 640px) {
    .frnd {
        height: 30vh;
        width: 20vh;

    }

    .time .small {
        justify-content: space-between;
        margin-left: 210px;
    }

}